/* Register.css */

/* Form chính */
.register-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

/* Tiêu đề Form */
.register-form h2 {
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
}

/* Input */
.register-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: 0.3s;
}

.register-form input:focus {
  outline: none;
  border-color: #66bb6a;
  box-shadow: 0 0 5px rgba(102, 187, 106, 0.5);
}

/* Button Submit */
.register-btn {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}

.register-btn:hover {
  background-color: #0056b3;
}

/* Paragraph Error Message */
.error-message {
  font-weight: bold;
  color: #e74c3c;
  margin-top: 10px;
  font-size: 1rem;
}
