# This file specifies which files and directories should be ignored when building the Docker image.

node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
*.md
*.test.js
coverage
dist
build
logs
*.log
*.tgz
*.zip
*.tar.gz
*.tar
*.gz
*.swp
*.swo
.idea
.vscode
*.iml
*.DS_Store
Thumbs.db
.cache
.cache-loader
public/uploads
src/**/*.spec.js
src/**/*.test.js